/********************/
/* PAGE index ICI */
/********************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
    /* background-color: turquoise; */
}
.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px 50px;
    padding-right: 90px;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.menu_divider {
    width: 1px;           /* largeur de la ligne */
    height: 20px;         /* hauteur de la ligne */
    background-color: rgb(48, 48, 48); /* couleur de la ligne */
    margin: 0 8px;        /* espace autour du séparateur */
}

.main_contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 800px;
    /* border: solid black 1px; */
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
}

.ma_photo img{
    height: 300px;
    height: 300px;
    border-radius: 50%;
}
.photo{
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: solid black 1px ; */
    width: 320px;
}
.list_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid black 1px; */
    gap: 20px;
}

.CV, .Projets, .Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid black 1px;
    background-color: orange;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.Projets{
    background-color: red; 
}
.Contact{
    background-color: rgb(104, 165, 194);
}

.foot{
    display: flex;
    flex-direction: column;
    /* border: solid rgb(255, 0, 0) 1px; */
    height: 100px;
}
.foot_divider{
    
    width: 80%;           /* largeur de la ligne */
    height: 1px;         /* hauteur de la ligne */
    background-color: rgb(202, 202, 202); 
    margin: 0 auto; 
    padding: 0 100px;
    /* border: solid rgb(0, 0, 0) 1px; */
    /* margin-left: 10px; */
}

.foot_divider-in{
    width: 100%;           /* largeur de la ligne */
    height: 1px;         /* hauteur de la ligne */
    background-color: rgb(202, 202, 202); 
    margin: 0 auto; 
    padding: 0 100px;
    /* border: solid rgb(0, 0, 0) 1px; */
    /* margin-left: 10px; */
}

.contacter_moi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: solid rgb(90, 89, 89) 1px; */
    margin: 8px 0;
    padding: 0 3%;
}

.alin{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo img{
    height: 15px;
}
.img_menu{
    display: none;
}

/********************/
/* Responive Page Index ICI */
/********************/


@media screen and (max-width: 600px) {
    @media screen and (max-width: 300px) 
    {
       .list_menu{
        flex-direction: column;
        align-items: center;
       } 
    }

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
    }

    .header_container{
        display: flex;
        flex-direction: column;
        /* border: solid black 1px; */
        margin: 0;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .main_contain{
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: solid black 1px; */
        margin: 30px 0px;
        padding-right: 0;
    }
    .main_contain img{
        /* height: 200px;? */
        width: 300px;
    }
    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* border: solid black 1px ; */
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .foot{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* border: solid rgb(148, 136, 136) 5px; */
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        height: auto;
    }

    .contacter_moi{
        /* border: solid black 1px;     */
        /* flex-wrap: wrap; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 40px;
        padding-top: 40px;
    }
    .alin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


}



/********************/
/* PAGE CV ICI */
/********************/

.cv_contain{
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 7%;
    /* border: solid black 1px; */
    width: 80%;

}
.competence{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 20px;
}
.info_cv{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    /* border: solid black 1px; */
    gap: 5px;
}
.en_bas{
    flex-basis: 100%; /* Garantit qu'il prendra toute la largeur */
    margin-top: auto; /* Pousse cet élément vers le bas */
}
.competence_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: disc;
    /* align-items: center; */
    gap: 10px;
    width: auto;
     list-style-position: inside; 
    padding-left: 5px; 
}
.competence_list li{
    list-style-type: disc;
}


/********************/
/* PAGE Contact ICI */
/********************/
.contact_contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 20px; */
    /* border: solid black 1px; */
    margin-top: 50px;
    margin-bottom: 10%;
}
.contact_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 5%; */
    margin-bottom: 7%;
    /* border: solid rgb(250, 0, 0) 1px; */
}
.contact_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: solid black 1px; */
}


form {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      width: 500px;
      /* border: solid black 1px; */
      /* margin-left: 10%; */
      margin-right: 10%;  

    }

    .form-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 155px;
    }

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    input, textarea {
      padding: 8px;
      border: 1px solid #333;
      /* border-radius: 3px; */
      font-size: 14px;
    }

    textarea {
      resize: none;
      min-height: 100px;
    }

    .taille_max {
      /* flex-basis: 40px; */
      width: 500px;
      /* border: solid black 1px; */
      /* height: 130px; */
    }

    .btn-container {
      display: flex;
      align-items:last baseline;
      justify-content: center;
      flex: 1;
      padding: 0px;
      margin: 0px;
          /* border: solid rgb(240, 213, 9) 2px; */

    }

    button {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: none;
      background-color: orange;
      color: black;
      font-weight: bold;
      cursor: pointer;
      margin-top: 90px;
      padding-bottom: 0;
      margin: 0;
      margin-bottom: 0;
        border: solid rgb(0, 0, 0) 1px;

    }

    
/********************/
/* PAGE CV ICI */
/********************/

.cv_contain{
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 7%;
    /* border: solid black 1px; */
    width: 80%;

}
.competence{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 20px;
}
.info_cv{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    /* border: solid black 1px; */
    gap: 5px;
}
.en_bas{
    flex-basis: 100%; /* Garantit qu'il prendra toute la largeur */
    margin-top: auto; /* Pousse cet élément vers le bas */
}
.competence_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: disc;
    /* align-items: center; */
    gap: 10px;
    width: auto;
     list-style-position: inside; 
    padding-left: 5px; 
}
.competence_list li{
    list-style-type: disc;
}

/********************/
/* PAGE Contact ICI */
/********************/
.contact_contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 20px; */
    /* border: solid black 1px; */
    margin-top: 50px;
    margin-bottom: 10%;
}
.contact_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 5%; */
    margin-bottom: 7%;
    /* border: solid rgb(250, 0, 0) 1px; */
}
.contact_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: solid black 1px; */
}
form {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      width: 500px;
      /* border: solid black 1px; */
      /* margin-left: 10%; */
      margin-right: 10%;  

    }

    .form-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 155px;
    }

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    input, textarea {
      padding: 8px;
      border: 1px solid #333;
      /* border-radius: 3px; */
      font-size: 14px;
    }

    textarea {
      resize: none;
      min-height: 100px;
    }

    .taille_max {
      /* flex-basis: 40px; */
      width: 500px;
      /* border: solid black 1px; */
      /* height: 130px; */
    }

    .btn-container {
      display: flex;
      align-items:last baseline;
      justify-content: center;
      flex: 1;
      padding: 0px;
      margin: 0px;
          /* border: solid rgb(240, 213, 9) 2px; */

    }

    button {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: none;
      background-color: orange;
      color: black;
      font-weight: bold;
      cursor: pointer;
      margin-top: 90px;
      padding-bottom: 0;
      margin: 0;
      margin-bottom: 0;
        border: solid rgb(0, 0, 0) 1px;

    }

/********************/
/* PAGE PROJETS ICI */
/********************/

.contain{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 7%; /*Bon code*/
    /* margin-top: 1%; */
    /* border: solid black 2px; */

}

contain h3{
    margin-left: 10%;

}
.projet_contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: auto;
    /* border: solid rgb(188, 28, 28) 1px; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
    line-height: 24px;
    /* background-color: aliceblue; */
}
.info p{
    font-family: 'Poppins';
    font-size: 0.89rem;
    /* border: solid black 1px; */
    width: 320px;
    text-align: justify;
}

.projet_contain img{
    width: 450px;
    height: 299.07px;
    /* background-color: rgb(171, 183, 193); */
    border: solid rgb(142, 171, 199) 10px;
    object-fit:calc();
}

.titre_cache, .Projet_cache{
    display: none;
}
/* Responsive mobile projets */
@media screen and (max-width: 600px) {
    .info h4{
    display: none;} 
    .Projet_cache{
        display: block;
        /* text-align: center;
        font-size: 20px;
        font-weight: bold; */
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
        color: black;
        /* background-color: turquoise; */
    }

    .contact_contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 20px; */
        /* border: solid black 1px; */
        margin-top: 20px;
        margin-bottom: 10%;
        padding: 0 10px;
    }
    .info p{
    width: auto;
    text-align: justify;
}

    .contact_box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* margin-left: 10%; */
        /* margin-right: 10%; */
        /* margin-top: 5%; */
        margin-bottom: 7%;
        /* border: solid rgb(250, 0, 0) 1px; */
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .projet_contain{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    }

    .projet_contain img{
    width: 100%;
    height: auto;
    /* border: solid black 1px; */
}
    form{
        width: 100%;
        gap: 15px;
        /* border: solid black 1px; */
        margin: 0;
        padding: 0;

    }

}
